@import url('https://fonts.googleapis.com/css?family=Ek+Mukta|Heebo:700');

body {
	font-family: "Ek Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #F5D76E;
	background: #000015;
}

h1, h2, h3 {
	font-family: "Heebo", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

hr {
	border: 1px solid #444;
}

h1 {
	font-size: 4em;
}

h2 {
	color: #5C97BF;
	font-size: 2em;
}

h3 {
	color: #F5D76E;
	font-size: 1.4em;
}

.faq {
	color: #ECF0F1;
	font-family: "Ek Mukta"
	font-weight: 700;
}

a {
	color: #1E8BC3;
	text-decoration: none;
	/*border-bottom: 1px solid #eee;*/
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover {
	color: #E4F1FE;
}

header {
	background-color: #000015;
	color: #F5D76E;
}

section, footer {
	padding: 30px 0;
}

header h1 a {
	color: #F5D76E;
	border-bottom: none;
	/*text-shadow: 0 1px 0 #666666*/
}

header p {
	margin: 2em 0;
	 /*text-shadow: 0 1px 0 #666666;*/
}

.lead {
	font-size: 1.5em;
}

p, pre {
	font-size: 1.2em;
	line-height: 1.8em;
}

li {
	font-size: 1.2em;
}

.button {
	border-radius: 5px;
	background: #efefef;
	background-image: -moz-linear-gradient(#FCFCFC, #EFEFEF);
	background-image: -webkit-linear-gradient(#FCFCFC, #EFEFEF);
	background-image: -ms-linear-gradient(#FCFCFC, #EFEFEF);
	background-image: linear-gradient(#FCFCFC, #EFEFEF);
	border: 1px solid #DDDDDD;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
	padding: 8px 16px;
	/*text-shadow: 0 1px 0 #fff;*/
	font-family: "Heebo", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: .5em;
}

.button:hover, .button:focus {
	outline: none;
	border: 1px solid rgba(0,0,255,.5);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 0 10px rgba(0,0,255,.3);
}



footer p {
	margin: 0;
	font-size: 1em;
	color: #F5D76E;
	/*text-shadow: 0 1px 0 #666666;*/
}

footer {
	background-color: #000015;
}

footer a {
	color: #FFFFFF;
}

@media (min-width: 960px){
	h1 {
		font-size: 5em;
	}
	h2 {
		font-size: 2.6em;
	}
	h3 {
		font-size: 2em;
	}
	.lead {
		font-size: 1.8em;
	}
}

/* Styles to help demonstrate the grid */

code, pre {
	font-family: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
	background: #F1D6D8;
	color: #333;
	padding: 3px;
	border-radius: 5px;
}

pre {
	padding: 10px;
	text-align: center;
}

.demo p {
	margin: 0;
}

.demo .unit pre {
	margin: 0;
	padding: 20px 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.demo .unit pre:hover {
	background: #fc0;
}

.grid, .unit {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.demo .unit .grid {
	overflow: hidden;
	background: rgba(241,227,213,.5);
}

.demo .unit .grid:first-child {
	border-radius: 5px 5px 0 0;
}

.demo .unit .grid:last-child {
	border-radius: 0 0 5px 5px;
}

.unit img {
	max-width: 100%;
}

img.inline {
	display: inline;
	vertical-align: bottom;
}

.less-great-title h1 {
	font-size: 3.5em;
}

p {
	font-size: 1.5em;
}

p.body {
	text-align: justify;
}

.navbar {
	 background-color: #000;
	 border-color: #000;
}

.navbar li {
	text-align: right;
}

.navbar li.active {
	font-weight: bold;
	background-color: #343434;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #444;
}

#psf-image {
	height: auto;
	width: auto;
	max-width: 240px;
	max-height: 80px;
}

button.navbar-toggle  {
	border-radius: 0px;
	background: transparent;
	border: 0x solid #DDDDDD;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
	padding: 8px 16px;
	margin-bottom: .5em;
}

.button:hover, .button:focus {
	outline: none;
	border: 1px solid rgba(0,0,255,.5);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 0 10px rgba(0,0,255,.3);
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
	top: 2px;
}

.navbar-toggle .icon-bar {
	position: relative;
		transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	top: 6px;
	transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	top: -6px;
	transform: rotate(-45deg);
}


.legend { list-style: none; color: white}
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 20px; height: 20px; margin: 2px; }

.legend .face_to_face { background-color: #3A5069; }
.legend .videocon { background-color: #674172; }
.legend .flash_talk { background-color: #1E824C; }
