{% extends "base.html" %}

{% block bodycontent %}

		<div class="text">
			<p>MUPy is a student organized conference intended to promote development and open source contributions on the Python programming language and for increasing the exposure of Python and its related frameworks around Manipal. Every attendee, novice to speaker, is considered equal in an attempt to create an environment fostering innovation and development.</p>
			<p>To ensure smooth flow of the event, each participant, attendee, organizer or speaker, is expected to show respect and courtesy to fellow participants throughout the conference.In order to accomplish the same, each attendee is required to conform to the following Code of Conduct. Organizers will enforce these throughout the event.</p>
			<h2>Summary</h2>
			<p>MUPy is dedicated to providing a harassment-free conference experience for everyone, regardless of age, gender, sexual orientation, physical appearance, disability, race, religion or employment. Harrasment of attendees in any form is not permitted. All communication and interaction should be appropriate for people from all backgrounds.</p>

			<div class="row">
				<div class="col-md-11 col-md-push-1">
				<p class="faq"><strong><u>Code for Speakers:</u></strong></p>
				<p>Sexual language or imagery is inappropriate for your talks or slides. Refrain from using sexist, racist or exclusionary language anywhere in your content.</p>
				<p class="faq"><strong><u>Code for Sponsors:</u></strong></p>
				<p>Exhibitors in the expo hall, sponsor or vendor booths, are subject to the anti-harassment policy. Exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment. Any merchandise given out should not be designed in a way meant to offend anyone.</p>
				<p class="faq"><strong><u>Code for Attendees:</u></strong></p>
				<p>Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for MUPy.</p>
				<p>Attendees violating these rules may be asked to leave the conference at the sole discretion of the organisers. Thank you for making MUPy a welcoming event for all.</p>
				</div>
			</div>

			<h2>Detailed Version</h2>
			<p>MUPy is dedicated to providing a harassment-free conference experience for everyone, regardless of age, gender, sexual orientation, physical appearance, disability, race, religion or employment.</p>
			<p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. We have zero tolerance on harassment of conference participants in any form, including, but not limited to the activities mentioned here.</p>
			<p>Attendees asked to stop any harassing behavior are expected to comply immediately.</p>
			<p>Exhibitors in the venue, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
			<p>All communication should be appropriate for a professional audience, including people from many different backgrounds. Sexual language or imagery is inappropriate for all aspects of the conference, including talks. Remember that sexist, racist or any other form of exclusionary or offensive jokes or excessive public swearing are not appropriate at any venue of MUPy.</p>
			<p>Do not insult or put down attendees or engage in any action that violates the open, welcoming and sharing spirit of the conference. Be kind and sensitive to the people around you when you are attending the conference, and avoid any kind of offensive or degrading behavior.</p>
			<p>If a participant engages in behavior that violates this code of conduct, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference.</p>
			<p>Thank you for making MUPy a welcoming event for all.</p>
			<h2>Contact Information</h2>
			<p>If you feel that you were subjected to any form of harrassment, notice someone else being harrassed, or have any other concers to express, please contact a member of the conference team. Conference organizers will be wearing "MUPy organizer" badges to be easily identified.</p>
			<p>Conference organizers will be happy to help participants contact campus security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>
			<h2>License</h2>
			<p>This Code of Conduct was forked from PSF Code of Conduct by Python Software Foundation which is under a Creative Commons Attribution 3.0 Unported License.</p>
			<p>MUPy Conference Code of Conduct is licensed under a Creative Commons Attribution 3.0 Unported License.</p>
		</div>
	</div>
	<br/>

{% endblock %}