<!DOCTYPE HTML>
<html lang="it-IT">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#009246">
  <title>PyPals</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/normalize.css" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <script src="https://use.fontawesome.com/f75179928d.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat:700|Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css' />
  <link rel="icon" href="./static/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"/>
</head>
<body>
  <div align="center">

  </div>
  <div class="container">
    <div class="row text-center">
      <h1><a href="/" style="color:#FFC639">MUPy</a></h1>
      <p class="lead">Manipal's Python Developer Conference</p>
      <p>
        <a href="/repo"><i class="fa fa-github fa-4x" style="color: white"></i></a>
      </p>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h2>What is it?</h2>
      </div>
      <div class="col-md-9">
        <p>
          MUPy is conference to increase the awareness of the Python programming language in Manipal. PyPals is inviting speakers from across the country to give talks at MUPy. We are also inviting alumni of our college to inspire current undergrads. We plan to have workshops to introduce first and second year students to Python. The motivation behind starting MUPy is to emulate the success of PyCon India.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <p>
          PyPals strives to spread the knowledge of Python and get students started with development in Python.
          <a href="/LUGM">LUGM</a> is dedicated to the principles of FOSS and Open Source encouraging development across various platforms and languages, especially Python.
        </p>
      </div>
      <div class="col-md-3">
        <h2>Who are we?</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h2>How to participate?</h2>
      </div>
      <div class="col-md-9">
        <p>
          Walk-in to any of the talks between the scheduled times. It won't be a workshop. Come with an open mind and listen-in on the people from the industry sharing their experiences with Python. For those who respond to their peers, check out student developers talking about their experience with the language and related frameworks. If you wish to deliver a talk, please send a formal proposal to the <a href="mailto:contact@pypals.org">PyPals team</a>. Interested in collaborating on an idea? Come pitch it to the masses in one of the flash talks and you could find people to code away together.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <p>
          <strong>MUPy</strong> will be held in the AB-3 building of Manipal institute of Technology on October 22 with the commencement keynote scheduled for 5:30 pm. The conference will run through October 23, starting at 9 am for the day, to wrap up at 5 pm.
        </p>
      </div>
      <div class="col-md-3">
        <h2>When?</h2>
      </div>
    </div>

    <br>
    <br>

    <div class="row text-center">
        <a href="/" class="button">Subscribe</a>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Conference Schedule</h2>
      </div>
    <div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Saturday, October 22, 2016</p>
        <p>Sunday, October 23, 2016</p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-left">
          <p>PyPals - Manipal</p>
        </div>
        <div class="col-md-9 text-right">
          <p>Made with ♥ by <a href="http://github.com/jiteshjha">Jitesh Jha</a>. Entire code is <a href="/website-repo">open sourced on GitHub</a>.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
