{% extends "base.html" %}

{% block bodycontent %}

		<br>
		<div class="row">
			<div class="col-md-3">
				<h2>ABOUT</h2>
			</div>
			<div class="col-md-9">
				<p class="body">
					<img src="{{ url_for('static',filename='images/mupy.svg') }}" height="40px" class="inline"> is a conference to increase the awareness of the Python programming language in Manipal. PyPals is inviting speakers from across the country to give talks at MUPy. We are also inviting alumni of our college to inspire current undergrads. We plan to have workshops to introduce first and second year students to Python. The motivation behind starting MUPy is to emulate the success of PyCon India.
				</p>
			</div>
		</div>

		<hr/>

		<!--
		<div class="row">
			<div class="col-md-3 col-md-push-9">
				<h2 align="right">Who are we?</h2>
			</div>
			<div class="col-md-9 col-md-pull-3">
				<p class="body">
					PyPals strives to spread the knowledge of Python and get students started with development in Python.
					<a href="/LUGM">LUGM</a> is dedicated to the principles of FOSS and Open Source encouraging development across various platforms and languages, especially Python.
				</p>
			</div>
		</div>
		-->

		<div class="row">
			<div class="col-md-3 col-md-push-9">
				<h2 align="right">GETTING<br>INVOLVED</h2>
			</div>
			<div class="col-md-9 col-md-pull-3">
				<p class="body">
					Walk-in to any of the talks between the scheduled times. It won't be a workshop. Come with an open mind and listen-in on the people from the industry sharing their experiences with Python. For those who respond to their peers, check out student developers talking about their experience with the language and related frameworks. If you wish to deliver a talk, please send a formal proposal referring to the guidelines <a href="/proposal">here</a>. Interested in collaborating on an idea? Come pitch it to the masses in one of the flash talks and you could find people to code away together.
					<br/>
					<br/>
					<img src="{{ url_for('static',filename='images/mupy.svg') }}" height="40px" class="inline"> is a volunteer-driven event. People from the community come forward to help make the conference better. If you wish to help out in proceedings, drop us an <a href="mailto:contact@pypals.org?subject=Volunteer for MUPy 2017">email</a>.
				</p>
			</div>
		</div>

		<hr/>

		<div class="row">
			<div class="col-md-3">
				<h2>SPONSORS</h2>
			</div>
			<div class="col-md-9">
				<p class="body">
					<img src="{{ url_for('static',filename='images/mupy.svg') }}" height="40px" class="inline"> is a free-to-attend event organized by college students at Manipal Institute of Technology. Sponsors help to make the conference affordable for the community to attend and maintaining the inventory for the conference.
				</p>
			</div>
			<div class="col-md-9 text-center col-md-push-3">
				<p><a class="btn btn-lg btn-default" style="color: #F5D76E; background-color: #000015" href="mailto:contact@pypals.org?subject=Sponsor for MUPy 2017">BECOME A SPONSOR</a>
				</p>
			</div>
		</div>

		<hr/>

		<div class="row">
			<div class="col-md-3 col-md-push-9">
				<h2 align="right">WHEN</h2>
			</div>
			<div class="col-md-9 col-md-pull-3">
				<p class="body">
					<img src="{{ url_for('static',filename='images/mupy.svg') }}" height="40px" class="inline"> will be held in the NLH building of Manipal institute of Technology on October 21 with the commencement talk scheduled for 5:30 pm. The conference will run through October 22, starting at 9 am for the day, to wrap up at 5 pm.
				</p>
			</div>
			<div class="col-md-3 col-md-push-9">
				<h2 align="right">WHERE</h2>
			</div>
			<div class="col-md-9 col-md-pull-3">
				<iframe height="200" frameborder="0" style="border:0; width: 100%" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJt-3E0qekvDsRH4YduE-NWI0&key=AIzaSyD5wa-rdTmhNu-uWi-0wVpW3UEhb2XVlZ0" allowfullscreen></iframe>
			</div>
		</div>
		
		<hr/>

		<br>
	</div>

	<div class="row">
		<div class="col-md-10 text-center col-md-push-1">
			<p>MUPy requires all attendees to conform to the <a href="/conduct">code of conduct</a> to foster a friendly and welcoming environment for the event.</p>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Contact MUPy <a href="/team">Team</a></h2>
			<p>Feel free to contact us at <a href="mailto:contact@pypals.org">contact@pypals.org</a>.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<ul class="list-inline">
				<li><a class="btn btn-lg btn-sm" href="http://twitter.com/pypals">
						<i class="fa fa-twitter fa-4x fa-lg"></i>
		  			</a>
		  		</li>
		  		<li><a class="btn btn-lg btn-sm" href="http://facebook.com/pypals/">
						<i class="fa fa-facebook fa-4x fa-lg"></i>
					</a>
		  		</li>
		  		<li><a class="btn btn-lg btn-sm" href="http://github.com/pypals">
					  	<i class="fa fa-github fa-4x fa-lg"></i>
				 	</a>
		  		</li>
			</ul>
		</div>
	</div>

	<hr/>

{% endblock %}
