{% extends "base.html" %}

{% block bodycontent %}

	<div class="row">
	  <div class="col-md-12">
		<h3>Guidelines</h3>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
		<ul>
			<li>Proposal should have a clear title and content description.</li>
			<li>Proposal description should be brief.</li>
			<li>Proposals should be sent to <a href="mailto:proposals@pypals.org">proposals@pypals.org</a></li>
			<li>Proposal content should adhere to the prescribed <a href="/conduct">code of conduct</a>.</li>
			<li>Selection about talks will be notified via email.</li>
			<li>Content of proposed talk should cover a duration of either 20 or 35 minutes. Slots will be assigned accordingly.</li>
			<li>For any questions, please write to <a href="mailto:contact@pypals.org">contact@pypals.org</a>.</li>
		  </ul>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12">
		<h3>Important Dates</h3>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
		<ul>
			<li>October 19 : Proposal submission deadline</li>
			<li>October 20 : Talk selection announcement</li>
			<li>October 21 : Final announcement</li>
		</ul>
	  </div>
	</div>
	</div>

{% endblock %}