{% extends "base.html" %}

{% block headcontent %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/photos.css') }}" />
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/photos.js') }}"></script>

{% endblock %}

{% block bodycontent %}

	<div class="row">
		<div class="col-md-8 col-md-push-2 text-center">
			<iframe id="ytplayer" type="text/html" style="width: 100%; height: 360px" 
				  src="https://www.youtube.com/embed/rHHWznvk_yY?autoplay=0"
				  frameborder="0">	  
			</iframe>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-push-1 text-justify">
			<hr/>
			<p>
				Over three hundred students and faculty members from Manipal Institute of Technology stepped away from their busy weekend to attend the conference on saturday evening, keynote for which was delivered by <a href="https://www.linkedin.com/in/kar2905">Kartik Mandaville</a>, CEO and co-founder of <a href="http://springrole.com">SpringRole Inc</a>, who talked about the applications of Machine Learning, and how to implement it in Python using scikit-learn.
			</p>
			<p>
				Mandaville's talk was followed by two parallel talks by <a href="https://www.linkedin.com/in/rtnpro">Ratnadeep Debnath</a> and <a href="http://flicksys.me">Flicksys Inc</a>. Debnath talked on the road to become an <a href="https://opensource.com">Open Source Contributor</a>. He took the audience through his journey into the world of open source. <a href="http://kartikarora.me">Kartik Arora</a>, <a href="https://www.linkedin.com/in/yash-goyal-bb642898/">Yash Goyal</a>, and <a href="https://www.linkedin.com/in/anirudh-raghunath-173b65113/">Anirudh Raghunath</a> of Flicksys delivered a flash talk on the Flask Framework and the amazing things you can do with it.
			</p>
			<p>
				<b>Day two</b> began with a conference call with <a href="https://twitter.com/raymondh">Raymond Hettinger</a>, one of the earliest core Python developers, and former board member of <a href="https://www.python.org">Python Software Foundation</a>, who demonstrated how to build an easy aritficial intelligence engine with Python, among other solutions to various mini puzzles such as exhaustive search using itertools, database mining using neural nets, automated categorization with a naive Bayesian classifier, etc. Simultaneously <a href="https://www.linkedin.com/in/shubhamgoel27">Shubham Goel</a> spoke on Sentiment Analysis using Word2Vec, which allows words to be represented in the form of vectors, to help predict the sentiment of a movie review. 
			</p>
			<p>
				<a href="https://in.linkedin.com/in/drstm">Projjol Banerji</a>, a regular Mozilla contributor and web developer talked around the concept of the blockchain and a PoC implementation in Python to demonstrate how the popular cryptocurrency, Bitcoin stores all transactions that occur over the Bitcoin network.
			</p>
			<p>
				After a feast for our speakers, <a href="https://www.linkedin.com/in/shreya-khurana-36759a86">Shreya Khurana</a> delivered a talk on Anomaly Detection using applied machine learning models with special focus on supervised learning using the Pandas library. <a href="https://www.github.com/ashwch">Ashwini Chaudhary</a>, a software engineer at Instamojo, and ranks among the top 10 most viewed people on StackOverflow in India, then focussed on the effective general and power usage of the interactive Python debugger to become a pdb power-user. <a href="https://www.github.com/ASP1234">Nimish Singhal</a> flash-talked on design of simulation structures for online laboratories accomplished in SciLab/Xcos environment.
			</p>
			<p>
				A very interesting talk on Extraplanetary Python, using open source software for the space industry, pertaining to NASA's Mars Mission was delivered by <a href="https://www.linkedin.com/in/mtambos">Mario Tambos</a> over skype. <a href="https://in.linkedin.com/in/aakash-rajpal-177369b5">Aakash Rajpal</a> then talked about his experiences with developing an interactive Heads up Display (HUD) on the Oculus Rift for the V-ERAS simulation (VR simulation of the Eras Mars Station) using Leap motion controller API and Blender API for Python.
			</p>
			<p>
				The event ended on Sunday evening with one final talk on personal experiences at Carnegie Mellon University, SpringRole by <a href="https://www.linkedin.com/in/kar2905">Kartik Mandaville</a>, who inspired young minds about a career in entrepreneurship.
			</p>
			<p>
				MUPy was just a glimmer in the eyes of PyPals team back in July 2016, the need to inspire young minds into the beautiful world of development led us to call speakers from all around the world to shed some light on amazing things that can be done with Python.
			</p>
		</div>
		<br/>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-push-2 text-center">
			<h1>Gallery</h1>
		</div>
	</div>

	<div id="main">

		{% for photo in photos %}
			<article class="thumb">
				<a href="{{ url_for('static', filename='mupy16/fulls/%s' %photo.image) }}" class="image">
					<img src="{{ url_for('static', filename='mupy16/thumbs/%s' %photo.image) }}" alt="" />
				</a>
				<h2>{{ photo.title }}</h2>
			</article>
		{% endfor %}

	</div>

	<hr/>
	<br/>

{% endblock %}
