{% extends "base.html" %}

{% block bodycontent %}

	<div class="row">
	  <div class="col-md-10 col-md-push-1">
		<h3>Guidelines</h3>
	  </div>
	  <div class="col-md-10 col-md-push-1">
		<ul style="font-size: 1.2em">
			<li>Proposal should have a clear title and content description.</li>
			<li>Proposal description should be brief.</li>
			<li>Proposals should be sent to <a href="mailto:proposals@pypals.org?subject=Proposal for MUPy 2017">proposals@pypals.org</a>.</li>
			<li>Proposal content should adhere to the prescribed <a href="/conduct">code of conduct</a>.</li>
			<li>Selection about talks will be notified via email.</li>
			<li>Content of proposed talk should cover a duration of 35 minutes.</li>
			<li>For any questions, please write to <a href="mailto:contact@pypals.org">contact@pypals.org</a>.</li>
		  </ul>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-10 col-md-push-1">
		<h3>Important Dates</h3>
	  </div>
	  <div class="col-md-10 col-md-push-1">
		<ul style="font-size: 1.2em">
			<li>October 6 : Proposal submission deadline (Extended Deadline)</li>
			<li>October 7 : Talk selection announcement</li>
			<li>October 10 : Final announcement</li>
		</ul>
	  </div>
	</div>
	</div>

{% endblock %}
