<!DOCTYPE HTML>
<html lang="it-IT">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000015">
  <title>PyPals</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/normalize.css" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <script src="https://use.fontawesome.com/f75179928d.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat:700|Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css' />
  <link rel="icon" href="./static/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"/>
</head>
<body>
  <div class="navbar-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <img src="{{ url_for('static',filename='images/mupy_min.png') }}" class="inline">
            </div>
        </nav>
  </div>

  <div class="container">
    <div class="row text-center">
      <h1 class="lead">Calls for Proposal</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Guidelines</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>Proposal should have objective with clear expectation for audience.</li>
          <li>Proposal description should be short and to the point.</li>
          <li>Proposal should have proper prerequisites like environment setup, library version.</li>
          <li>No proposal will be selected without link to appropriate session content like presentation, pdf, code snippets etc ...</li>
          <li>Proposal content links can be updated later.</li>
          <li>Proposal content should adhere to <a href="http://in.pycon.org/2015/codeofconduct.html">code of conduct</a>.</li>
          <li>Proposal content shouldn't have company name through out the content. Mention of employer is allowed only in the beginning of the content (presentation/pdf).</li>
          <li>Background image/wallpaper shouldn't contain company name/logos.</li>
          <li>Selection/Rejection about talks will notified via email.</li>
          <li>For any questions, please write to contact@pypals.org.</li>
          </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Important Dates</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>30 June : Proposal submission deadline</li>
          <li>25th Jul : Talk selection announcement</li>
          <li>8th Aug : Presentation upload</li>
          <li>15th Aug : Final review</li>
          <li>1st Sep : Final announcement</li>
        </ul>
      </div>
    </div>
    </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-left">
          <p>PyPals - Manipal</p>
        </div>
        <div class="col-md-9 text-right">
          <p>Made with ♥ by <a href="http://github.com/jiteshjha">Jitesh Jha</a>. Entire code is <a href="/website-repo">open sourced on GitHub</a>.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
