<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000015">
  <title>PyPals</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/normalize.css" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <script src="https://use.fontawesome.com/f75179928d.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat:700|Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css' />
  <link rel="icon" href="./static/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"/>
</head>
<body>
  <div class="container">
    <div class="row">
        <ul class="nav nav-pills pull-right red">
            <li><a href="/">Home</a>
            </li>
            <li><a href="register">Register</a>
            </li>
            <li class="active"><a href="proposal">Proposal</a>
            </li>
            <li><a href="conduct">Code of Conduct</a>
            </li>
            <li><a href="faq">FAQ</a>
            </li>
            <li><a href="team">Meet the Team</a>
            </li>
        </ul>
    </div>
  </div>
  <div class="navbar-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <a href="/mupy"><img src="{{ url_for('static',filename='images/mupy_min.png') }}" class="inline"></a>
            </div>
        </nav>
  </div>

  <div class="container">
    <div class="row text-center">
      <h2>Call for Proposals</h2>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Guidelines</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>Proposal should have a clear title and content description.</li>
          <li>Proposal description should be brief.</li>
          <li>Proposals should be sent to <a href="mailto:proposals@pypals.org">proposals@pypals.org</a></li>
          <li>Proposal content should adhere to the prescribed <a href="/conduct">code of conduct</a>.</li>
          <li>Selection about talks will be notified via email.</li>
          <li>Content of proposed talk should cover a duration of 35 minutes.</li>
          <li>For any questions, please write to <a href="mailto:contact@pypals.org">contact@pypals.org</a>.</li>
          </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Important Dates</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>October 6 : Proposal submission deadline (Extended Deadline)</li>
          <li>October 7 : Talk selection announcement</li>
          <li>October 10 : Final announcement</li>
        </ul>
      </div>
    </div>
    </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-left">
          <p>PyPals - Manipal</p>
        </div>
        <div class="col-md-9 text-right">
          <p>Made with ♥ by <a href="http://github.com/jiteshjha">Jitesh Jha</a>.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
