{% extends "base.html" %}

{% block headcontent %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}" />

{% endblock %}

{% block bodycontent %}

<div class="row">
  <br>
  <div class="col-md-6">
	  <img src="{{ details['image'] }}" class="img-quadrata center-block" >
	  <h3 class="text-center" >
		<i class="fa fa-user"></i> {{ details['speaker'] }}

		<br>

		{% if details['github'] != "N/A" %}
		  <a href="{{ details['github'] }}"><i class="fa fa-github"></i></a>
		{% endif %}

		{% if details['linkedin'] != "N/A" %}
		  <a href="{{ details['linkedin'] }}"><i class="fa fa-linkedin"></i></a>
		{% endif %}
	  </h3>
  </div>
  <div class="col-md-6 text-center">
	<h3>
	  <i class="fa fa-map-marker"></i> {{ details['location'] }}
	  <br>
	  <br>
	  <i class="fa fa-calendar"></i> {{ details['date'] }}
	</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-left">
  	<hr>
	<h2 style="color:#7986cb">Talk description
		{% if details['type'] == 'R' %} 
			(Face to Face)
		{% elif details['type'] == 'V' %}
			(Videocon)
		{% else %}
			(Flash Talk)
		{% endif %}
	</h2>
	<p style="white-space: pre-wrap;"> {{ details['description'] }} </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-left">
	<hr>
	<h2 style="color:#7986cb">About the speaker</h2>
	<p style="white-space: pre-wrap;"> {{ details['about_speaker'] }} </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-left">
	<hr>
</div>
</div>

{% endblock %}
