{% extends "base.html" %}

{% block bodycontent %}

    {% for daydict in talkdata %}

    <div class="row">
      <div class="col-md-12">
        <h3><i class="fa fa-calendar"></i> {{ daydict['day'] }}</h3>
      </div>
    </div>

      {% for item in daydict['data'] %}

      <div class="list-group">
        <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading text-left"><i class="fa fa-align-left"></i> {{ loop.index }}. {{ item['title'] }}</h3>
            <div class="row">
                    <div class="col-sm-4">
                      <p class="list-group-item-text text-left">
                        <i class="fa fa-user"></i> {{ item['speaker'] }}
                      </p>
                    </div>

                    <div class="col-sm-4">
                      <p class="list-group-item-text text-center">
                        <i class="fa fa-clock-o"></i> {{ item['begin_time'] }}
                      </p>
                    </div>
                    <div class="col-sm-4">
                      <p class="list-group-item-text text-center">
                        <i class="fa fa-map-marker"></i> {{ item['location'] }}
                      </p>
                    </div>
            </div>
        </a>
      </div>

      {% endfor %}

    {% endfor %}

{% endblock %}
