{% extends "base.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />

{% block bodycontent %}

		{% for daydict in talkdata %}

			<div class="row">
				<div class="col-md-12">
					<h3><i class="fa fa-calendar"></i> {{ daydict['day'] }}</h3>
				</div>
			</div>

			{% for item in daydict['data'] %}

				<div class="list-group">

					{% if item['type'] == 'R' %}
							<a href="{{ url_for('talk_detail', talk_id=item['talk_id']) }}" class="list-group-item" style="background-color: #3A5069">
					{% elif item['type'] == 'V' %}
							<a href="{{ url_for('talk_detail', talk_id=item['talk_id']) }}" class="list-group-item" style="background-color: #674172">
					{% else %}
							<a href="{{ url_for('talk_detail', talk_id=item['talk_id']) }}" class="list-group-item" style="background-color: #1E824C">
					{% endif %}

						<h3 class="list-group-item-heading text-left" style="color: #fcf9ee"><i class="fa fa-align-left"></i> {{ loop.index }}. {{ item['title'] }}</h3>
						<div class="row" style="color: #fcf9ee">
							<div class="col-sm-5">
								<p class="list-group-item-text text-left"><i class="fa fa-user"></i> {{ item['speaker'] }}</p>
							</div>

							<div class="col-sm-4">
								<p class="list-group-item-text text-left"><i class="fa fa-clock-o"></i> {{ item['begin_time'] }}</p>
							</div>
							<div class="col-sm-3">
								<p class="list-group-item-text text-left"><i class="fa fa-map-marker"></i> {{ item['location'] }}</p>
							</div>
						</div>
					</a>
				</div>

			{% endfor %}

		{% endfor %}

		<ul class="legend">
	    <li><span class="face_to_face"></span> Face to Face</li>
	    <li><span class="videocon"></span> Videocon</li>
	    <li><span class="flash_talk"></span> Flash Talk</li>
		</ul>

{% endblock %}
