<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#000015">
  <title>PyPals</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/normalize.css" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <script src="https://use.fontawesome.com/f75179928d.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat:700|Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css' />
  <link rel="icon" href="./static/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"/>
</head>
<body>
  <div class="container">
    <div class="row">
        <ul class="nav nav-pills pull-right red">
            <li><a href="/">Home</a>
            </li>
            <li><a href="register">Register</a>
            </li>
            <li><a href="proposal">Proposal</a>
            </li>
            <li class="active"><a href="proposal">Selected Proposals</a>
            </li>
            <li><a href="conduct">Code of Conduct</a>
            </li>
            <li><a href="faq">FAQ</a>
            </li>
            <li><a href="team">Meet the Team</a>
            </li>
        </ul>
    </div>
  </div>
  <div class="navbar-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <a href="/mupy"><img src="{{ url_for('static',filename='images/mupy_min.png') }}" class="inline"></a>
            </div>
        </nav>
  </div>

  <div class="container">
    <div class="row text-center">
      <h2>Selected Proposals</h2>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Talks</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3><i class="fa fa-calendar"></i> Day 1 (October 22, 2016)</h3>
      </div>
    </div>

    {% for x in loopdata1 %}
    <div class="list-group">
      <a href="#" class="list-group-item">
          <h3 class="list-group-item-heading text-left"><i class="fa fa-align-left"></i> {{loop.index}}. {{x['title']}}</h3>
          <div class="row">
                  <div class="col-sm-4">
                    <p class="list-group-item-text text-left">
                      <i class="fa fa-user"></i> {{x['speaker']}}
                    </p>
                  </div>

                  <div class="col-sm-4">
                    <p class="list-group-item-text text-center">
                      <i class="fa fa-clock-o"></i> {{x['begin_time']}}
                    </p>
                  </div>
                  <div class="col-sm-4">
                    <p class="list-group-item-text text-center">
                      <i class="fa fa-map-marker"></i> {{x['location']}}
                    </p>
                  </div>
          </div>
      </a>
    </div>
    {% endfor %}

    <div class="row">
      <div class="col-md-12">
        <h3><i class="fa fa-calendar"></i> Day 2 (October 23, 2016)</h3>
      </div>
    </div>

    {% for x in loopdata2 %}
    <div class="list-group">
      <a href="#" class="list-group-item">
          <h3 class="list-group-item-heading text-left"><i class="fa fa-align-left"></i> {{loop.index}}. {{x['title']}}</h3>
          <div class="row">
                  <div class="col-sm-4">
                    <p class="list-group-item-text text-left">
                      <i class="fa fa-user"></i> {{x['speaker']}}
                    </p>
                  </div>

                  <div class="col-sm-4">
                    <p class="list-group-item-text text-center">
                      <i class="fa fa-clock-o"></i> {{x['begin_time']}}
                    </p>
                  </div>

                  <div class="col-sm-4">
                    <p class="list-group-item-text text-center">
                      <i class="fa fa-map-marker"></i> {{x['location']}}
                    </p>
                  </div>
          </div>
      </a>
    </div>
    {% endfor %}

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-left">
            <p>PyPals - Manipal</p>
          </div>
          <div class="col-md-4 text-center">
            <p>Sponsored by</p>
            <p><img id="psf-image" src="https://www.python.org/static/img/psf-logo.png"></p>
          </div>
          <div class="col-md-4 text-right">
            <p>Made with ♥ by <a href="http://github.com/jiteshjha">Jitesh Jha</a>.</p>
          </div>
        </div>
      </div>
    </footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
