{% extends "base.html" %}

{% block bodycontent %}

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">Team</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center">Current Organizers</h2>
				</div>
			</div>

			
			<div class="row">
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Avikant.png') }}" class="center-block img-quadrata">
					<h3 class="text-center">Avikant Saini</h3>
					<h3 class="text-center">
						<a href="https://github.com/avikantz"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/avikantz"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Yash.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Yash Kumar Lal</h3>
					<h3 class="text-center">
						<a href="https://github.com/ykl7"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/yash-kumar-lal-588187122"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Chinmay.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Chinmay Nivsarkar</h3>
					<h3 class="text-center">
						<a href="https://github.com/chinmay-n"><i class="fa fa-github"></i></a>
						<a href="https://www.linkedin.com/in/chinmay-nivsarkar-711b54137/"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Sachi.png') }}" class="center-block img-quadrata">
					<h3 class="text-center">Sachi Angle</h3>
					<h3 class="text-center">
						<a href="https://github.com/sach211"><i class="fa fa-github"></i></a>
						<a href="https://www.linkedin.com/in/sachi-angle-0b7454124"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Bhawesh.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Bhawesh Bhansali</h3>
					<h3 class="text-center">
						<a href="https://github.com/bhawesh96"><i class="fa fa-github"></i></a>
						<a href="https://www.linkedin.com/in/bhawesh96/"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Sahal.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Sahal Shams</h3>
					<h3 class="text-center">
						<a href="https://github.com/shamssahal"><i class="fa fa-github"></i></a>
						<a href="https://www.linkedin.com/in/sahal-shams-68398633/"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Abhishek.png') }}" class="center-block img-quadrata">
					<h3 class="text-center">Abhishek Vora</h3>
					<h3 class="text-center">
						<a href="https://github.com/abhivora8"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Pramod.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Pramod Shenoy</h3>
					<h3 class="text-center">
						<a href="https://github.com/PramodShenoy"><i class="fa fa-github"></i></a>
						<a href="https://www.linkedin.com/in/pramod-shenoy-468584137/"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center">Founders</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Sailesh.png') }}" class="img-quadrata center-block" >
					<h3 class="text-center" >Sailesh Sriram</h3>
					<h3 class="text-center">
						<a href="https://github.com/SaileshSriram"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/sailesh-sriram-473b5497"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Purak.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Purak Jain</h3>
					<h3 class="text-center">
						<a href="https://github.com/purak24"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/purakjain"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/SaiAbishek.png') }}" class="center-block img-quadrata">
					<h3 class="text-center">Sai Abishek Bhaskar</h3>
					<h3 class="text-center">
						<a href="https://github.com/xoher"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/saiabishekbhaskar"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Arpan.png') }}" class="img-quadrata center-block" >
					<h3 class="text-center" >Arpan Mishra</h3>
					<h3 class="text-center">
						<a href="https://github.com/arpan14"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/arpan1311"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Indranil.png') }}" class="img-quadrata center-block" >
					<h3 class="text-center" >Indranil Dutta</h3>
					<h3 class="text-center">
						<a href="https://github.com/d1ndra"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/duttaindranil"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Avikant.png') }}" class="center-block img-quadrata">
					<h3 class="text-center">Avikant Saini</h3>
					<h3 class="text-center">
						<a href="https://github.com/avikantz"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/avikantz"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-3">
					<img src="{{ url_for('static',filename='images/Yash.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Yash Kumar Lal</h3>
					<h3 class="text-center">
						<a href="https://github.com/ykl7"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/yash-kumar-lal-588187122"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
