{% extends "base.html" %}

{% block bodycontent %}

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">Team</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/Sailesh.png') }}" class="img-quadrata center-block" >
					<h3 class="text-center" >Sailesh Sriram</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/SaileshSriram"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/sailesh-sriram-473b5497"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/Purak.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Purak Jain</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/purak24"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/purakjain"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/SaiAbishek.png') }}" class="center-block img-quadrata">
					<h3 class="text-center">Sai Abishek Bhaskar</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/xoher"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/saiabishekbhaskar"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/Indranil.png') }}" class="img-quadrata center-block" >
					<h3 class="text-center" >Indranil Dutta</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/d1ndra"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/duttaindranil"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/Arpan.png') }}" class="img-quadrata center-block" >
					<h3 class="text-center" >Arpan Mishra</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/arpan14"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/arpan1311"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/Yash.png') }}" class="center-block img-quadrata" >
					<h3 class="text-center" >Yash Kumar Lal</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/ykl7"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/yash-kumar-lal-588187122"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/Avikant.png') }}" class="center-block img-quadrata">
					<h3 class="text-center">Avikant Saini</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/avikantz"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/avikantz"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/Jitesh.png') }}" class="img-quadrata center-block" >
					<h3 class="text-center" >Jitesh Jha</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/jiteshjha"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/jiteshjha96"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
				<div class="col-md-4">
					<img src="{{ url_for('static',filename='images/Saketh.png') }}" class="img-quadrata center-block" >
					<h3 class="text-center" >Saketh Kaparthi</h3>
					<br/>
					<h3 class="text-center">
						<a href="https://github.com/sakethkaparthi"><i class="fa fa-github"></i></a>
						<a href="https://in.linkedin.com/in/saketh-kaparthi-561b0b112"><i class="fa fa-linkedin"></i></a>
					</h3>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
